# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# MLflow
mlruns/
mlflow.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Data / temp
*.csv
*.tmp
*.env